*.pem

# JS stuff
node_modules
build
.eslintcache

# Python stuff
__pycache__
venv
runtime.txt
setup.cfg

# Dev stuff
Dockerfile
.env
.git
.gitignore
LICENSE
README.md
.devcontainer
.vscode
.editorconfig
db.sqlite3